<h2>Utilizar jquery dentro de Angular</h2>
<button id="botonjq">Mostrar textos</button>
<p id="textojq" class="alert alert-info">Uh, después de mucho tiempo de pensarlo y analizarlo (estoy siendo dramática) decidí hacer la página, en el mundo del cosplay
  me conocerán como: Bishamoon Cosplay, y en esta página podrán encontrar todos los cosplays que estaré haciendo ( vienen
  dos pronto)
</p>
<div id="caja" style="border: 1px solid black; width: 150px; height: 50px;">Uh, después de mucho tiempo de pensarlo y analizarlo (estoy siendo dramática) decidí hacer la página, en el mundo del cosplay
  me conocerán como: Bishamoon Cosplay, y en esta página podrán encontrar todos los cosplays que estaré haciendo ( vienen
  dos pronto)
</div>
<!-- <editor apiKey="test" [init]="{plugins: 'link'}" (onKeyUp)="textTinymce($event)"></editor> -->
<h1>Padre</h1>
{{titulo}}
<hr>
<p>
  Nombre del Parque:
  <input [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" type="text" />
</p>
<p>
  Result: {{nombreDelParque}}
</p>
<div *ngIf="miParque">
  <h4>Datos De Mi Parque DESDE EL HIJO</h4>
  <ol>
    <li>{{miParque.nombre}}</li>
    <li>{{miParque.metros}}</li>
    <li>{{miParque.vegetacion}}</li>
    <li>{{miParque.abierto}}</li>
  </ol>
</div>
<hr>
<p *ngIf="nombreDelParque">
  Hijo:
  <!-- event tiene todos los datos emitidos del evento -->
  <app-parques [nombre]="'nombreDelParque'" [metros_cuadrados]="500" (pasameLosDatos)="verDatosParque($event)">
  </app-parques>
</p>
